{% extends "base.html" %}
{% load staticfiles %}
{% block title %}about{% endblock %}
{% block head %}about{% endblock %}
{% block subhead %}Post{% endblock %}
{% block img-bg %}{% static 'img/about-bg.jpg' %}{% endblock %}

<!-- Main Content -->
{% block content %}

    <h2 class="section-heading">bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~.</h2>
    <p>어쩌구 저쩌구 어쩌구 저쩌구 어쩌구 저쩌구 어쩌구 저쩌구 어쩌구 저쩌구 어쩌구 저쩌구 어쩌구 저쩌구 .</p>

    <blockquote>bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~bla~~ bla~~~~</blockquote>

{% endblock %}
<hr>
